<section>
  <div class="card" action="">
    <h1><small routerLink="/">Voltar</small> novo Dev</h1>
    <form class="form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <mat-label>Nome do desenvolvedor</mat-label>
        <input required matInput autofocus formControlName="Nome">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Ocupação</mat-label>
        <input required rows="12" matInput formControlName="Cargo">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Valor Hora</mat-label>
        <input required rows="12" matInput formControlName="ValorH">
      </mat-form-field>
      <button type="submit" mat-button color="primary" (click)="save()"> Adicionar Desenvolvedor </button>
    </form>
  </div>
</section>