<section>
    <div class="card" action="">
        <h1>Criar Projeto</h1>
        <form class="form" [formGroup]="form">
            <mat-form-field class="example-full-width">
                <mat-label>Nome do Projeto</mat-label>
                <input required matInput autofocus formControlName="projeto">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Descrição</mat-label>
                <textarea rows="7" required matInput autofocus formControlName="descricao"></textarea>
            </mat-form-field>

            <button type="submit" mat-button color="primary" (click)="save()"> Adicionar Lugar </button>
        </form>
    </div>
</section>