<section>
    <mat-card routerLink="/novoDev" class="item">
        <h2>Cadastrar novo Dev</h2>
    </mat-card>
    <mat-card routerLink="/listarDevs" class="item">
        <h2>Listar Devs</h2>
    </mat-card>
    <mat-card  routerLink="/horas" class="item">
        <h2>Lançamento de Horas</h2>
    </mat-card>
    <mat-card routerLink="/novoProjeto" class="item">
        <h2>Novo Projeto</h2>
    </mat-card>
    <mat-card routerLink="/addDevProjeto" class="item">
        <h2>Adicionar Dev ao Projeto</h2>
    </mat-card>
    <mat-card routerLink="/listarProjetos" class="item">
        <h2>Listar Projetos</h2>
    </mat-card>
</section>