<section>
  <div class="card" action="">
    <h1>Adicionar Desenvolvedor ao Projeto</h1>
    <h6>Clique no titulo para voltar</h6>
    <form class="form" [formGroup]="form">
      
        
      <mat-form-field appearance="fill">
        <mat-label>Desenvolvedor</mat-label>
        <mat-select formControlName="projeto" required>
          <mat-option *ngFor="let dev of desenvolvedores$ | async" value="asdasdsad">
            {{dev.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Projetos</mat-label>
        <mat-select formControlName="projeto" required>
          <mat-option *ngFor="let proj of projetos$ | async" value="asdasdsad">
            {{proj.projeto}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button type="submit" mat-button> Adicionar Desenvolvedor </button>

      <table>
        <tr>
            <th>Projeto</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let proj of DevProj$ | async">
            <td>{{proj.desenvolvedor}}</td>
            <td>{{proj.projetoTableId}}</td>
            <td>
                <button mat-stroked-button color="warn" >Remover</button>
            </td>
        </tr>
    </table>

    <h5>* Caso a lista não atualize automaticamente recarrege a página</h5>
    </form>
  </div>
</section>