<section>
  <div class="card">
    <h1>Adicionar Desenvolvedor ao Projeto</h1>
    <form class="form" [formGroup]="form">
      
        
      <mat-form-field appearance="fill">
        <mat-label>Desenvolvedor</mat-label>
        <mat-select formControlName="desenvolvedor" #dev required>
          <mat-option *ngFor="let dev of desenvolvedores$ | async" value={{dev.nome}}>
            {{dev.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Projetos</mat-label>
        <mat-select formControlName="projeto" #pro required>
          <mat-option *ngFor="let proj of projetos$ | async" value={{proj.id}}>
            {{proj.projeto}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button type="submit" mat-button (click)="Adicionar(dev.value,pro.value)" > Adicionar {{dev.value}} Ao Projeto </button>

      <table>
        <tr>
            <th>Dev</th>
            <th>Projeto</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let proj of devProj">
            <td>{{proj.desenvolvedor}}</td>
            <td>{{proj.projetoTableId}}</td>
            <td>
                <button mat-stroked-button color="warn" (click)="Remover(proj.projetoTableId)">Remover</button>
            </td>
        </tr>
    </table>
    <button type="submit" mat-button (click)="Update()" > Salvar as alterações </button>
    </form>
  </div>
</section>