<section>
  <div class="card" action="">
    <h1>Adicionar Desenvolvedor ao Projeto</h1>
    <h6>Clique no titulo para voltar</h6>
    <form class="form" [formGroup]="form">
      
      <mat-form-field appearance="fill">
        <mat-label>Desenvolvedor</mat-label>
        <mat-select>
          <mat-option value="aa"> Daniel </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Projeto</mat-label>
        <mat-select>
          <mat-option value="aa"> um projeto qualquer </mat-option>
        </mat-select>
      </mat-form-field>

      <button type="submit" mat-button> Adicionar Desenvolvedor </button>

      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
      

      <button type="submit" mat-button> Adicionar Lugar </button>

    </form>
  </div>
</section>